.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
    
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.container{
    margin-bottom: 50px;
}
.watch-background{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
}
.bag-background{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,67,67,1) 0%, rgba(111,27,27,1) 90% );
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
}
.shoes-background{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
}